# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

# Intellij
.idea/workspace.xml
.idea/jsLinters/eslint.xml
.idea/eslintPlugin.xml
.idea/compiler.xml
.idea/dictionaries
