.state-control-setters {
    margin-bottom: 15px;
}

#labeled-control-leader {
    width: 20px;
    margin-bottom: 5em;
}

#labeled-control-symbols {
    width: 52%;
}

.state-control-input {
    display: inline-block;
    width: 45%;
}

.arrow {
    display: inline-block;
    width: 5%;
    text-align: center;
}

.move-button {
    display: block;
    padding: 0.7em 1em;
    margin: 3em auto 4em auto;
}

.state-control-input label {
    width: 30%;
    text-align: right;
}

.state-control-input textarea {
    width: 65%;
}
