.state-control-setters {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.state-control-setters > * {
  margin-right: 0.7em;
}

.move-button {
  display: block;
  padding: 0.7em 1em;
  margin: 3em auto 4em auto;
}

@media (min-width: 800px) {
  .state-control-input {
    display: inline-block;
    width: 45%;
  }

  .line-input {
    display: flex;
    align-items: center;
  }

  .arrow {
    display: inline-block;
    width: 5%;
    text-align: center;
  }

  .state-control-input label {
    width: 30%;
    text-align: right;
  }

  .state-control-input textarea {
    width: 65%;
  }
}
